.plant-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: FadeIn 1s;
}
.plant-item-image{
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.plant-item-info{
    padding: 20px;
}
.plant-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.plant-item-name-rating p{
    font-size: 20px;
    font-weight: 500;
}
.plant-item-name-rating img{
    width: 70px;
}
.plant-item-description{
    font-size: 15px;
    color: #676767;
}
.plant-item-price{
    color: green;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0 ;
}
.plant-item-image-container{
    position: relative;
}
.plant-item-image-container .add{
    width: 45px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}
.plant-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
}