.add {
    width: 100%;
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    margin-top: 40px;
    color: #5a5959;
    font-size: 16px;
}

/* Card / Box */
.add-card {
    width: 90%;
    max-width: 1000px;
    margin-left: 3rem;
    background: #ffffff;
    padding: 30px 40px;
    border-radius: 12px;          /* curved border */
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

/* Form spacing */
.add form {
    gap: 20px;
}

/* Image upload */
.add-image-upload img {
    width: 150px;
    cursor: pointer;
}
.add-image-upload {
    display: flex;
    flex-direction: column;
    align-items: center;   /* centers image */
    text-align: center;
}

/* Inputs */
.add-product-name,
.add-product-description {
    width: 100%;
}

.add-product-name input,
.add-product-description textarea {
    padding: 10px;
}

/* Category + price */
.add-category-price {
    display: flex;
    gap: 30px;
}

.add-category-price select,
.add-category-price input {
    max-width: 160px;
    padding: 10px;
}

/* Button */
.add-btn {
    max-width: 140px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
}

/* Mobile responsive */
@media (max-width: 768px) {
    .add-card {
        width: 90%;
        padding: 20px;
    }

    .add-category-price {
        flex-direction: column;
        gap: 15px;
    }
}
