.plant-display{
    margin-top: 30px;
}
.plant-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}
.plant-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}
.plant-link {
  text-decoration: none;
  color: inherit;
}

