/* ---------- IDENTIFY PLANT UI ---------- */

.preview-img {
  border-radius: 12px;
  margin: auto;
  display: block;
  width: 32px;
  opacity: 0.875;
  transition: 0.3s;
  height: 38px;
}

/* Result Box */

/* Fade Effect */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ---------- SEARCH BAR (with image + input + IdentifyPlant button) ---------- */

/* .search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    border-radius: 14px;
    padding: 2px 11px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
} */


.preview-img:hover {
  opacity: 1;
}

/* .explore-search-bar {
    flex: 1;
    width: 280px;
    padding: 10px 14px;
    border-radius: 10px;
    border: 2px solid #BFDBF7;
    outline: none;
    background: #E1E5F230;
    font-size: 16px;
    transition: .3s;
} */

/* IdentifyPlant button appearance inside search-bar */
/* .search-bar > *:last-child {
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    white-space: nowrap;
}

.search-bar > *:last-child:hover {
    background: #bdbebf;
} */


/* Your image icon styling */
.img-search-icon {
  width: 23px;
  height: 23px;
  object-fit: contain;
  opacity: 0.9;
  transition: 0.2s ease;
}

/* Hover effect like Google Lens */
.img-search-icon:hover {
  transform: scale(1.15);
  opacity: 1;
}

/* Tooltip below button */




.image-search-input {
  display: none;
}
/* Responsive */
@media (max-width: 650px) {
  .search-bar {
    text-align: center;
    gap: 10px;
  }
  .explore-search-bar {
    width: 100%;
  }
}
