.identify-container {
  margin-top: 20px;
  padding: 20px;
  background: #f0f8f5;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.identify-title {
  text-align: center;
  color: #2f7a53;
  margin-bottom: 15px;
}

.upload-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dashed #6abf7f;
  background: #eafff1;
  border-radius: 12px;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.upload-box:hover {
  background: #dfffe8;
  transform: scale(1.02);
}

.upload-box input {
  display: none;
}

.upload-box span {
  font-size: 18px;
  font-weight: 500;
  color: #2f7a53;
}

.preview-img {
  width: 250px;
  border-radius: 12px;
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.result-box {
  margin-top: 15px;
  padding: 15px;
  background: #ffffff;
  border-left: 5px solid #2f7a53;
  border-radius: 10px;
  color: #2f4f33;
  font-weight: 500;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


.search-bar{
    display: flex;
    align-items: center;
    width: 100%;
}