.header{
    height: 50vw;
    margin: 30px 15px;
    background: url('../../assets/image.png') no-repeat;
    background-size: contain;
    position: relative;
}
.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 30%;
    left: 32vw;
    animation: FadeIn 3s;
}
.header-content h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
}
.header-content p{
    color: white;
    font-size: 1.2vw;
}
.header-content button{
    border: none;
    font-weight: 500;
    color: #747474;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 15px;
}

@media (max-width:1050px) {
    .header-content{
        max-width: 46%;
    }
}


@media (max-width:750px) {
    .header-content{
        max-width: 65%;
    }
    .header-content p{
        display: none;
    }
    .header-content button{
        padding: 2vw 4vw;
    }
}