.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}
.explore-menu h1{
    color: #262626;
    font-weight: 500;
}
.explore-menu-text{
    max-width: 60%;
    color: #808080;
}
.explore-menu-list{
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}
.explore-menu-list img:hover{
    box-shadow: 0 0 15px 5px rgba(179, 255, 72, 0.905); /* blue glow */
    transform: scale(1.05); /* slight zoom on hover */
}

.explore-menu-list-items img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}
.explore-menu-list-items p{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}
.explore-menu hr {
    height: 3px;
    width: 100%;
    border: none;
    margin: 10px 0;
    background: radial-gradient(circle, #31a317 30%, #BFDBF7 70%, transparent 100%);
    border-radius: 5px;
}

.explore-menu-list-items .active{
    border: 4px solid rgb(249, 80, 80);
    padding: 2px;
    border-style: dotted;
}
/* .search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    border-radius: 14px;
    padding: 0px 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
} */




/* Input Styling */
.explore-search-bar {
    flex: 1;
    width: 280px;
    padding: 10px 14px;
    border-radius: 10px;
    border: 2px solid #BFDBF7;
    outline: none;
    margin-left: 12px;
    background: #E1E5F230;
    font-size: 16px;
    transition: .3s;
}
.explore-search-bar:focus {
    border-color: #1F7A8C;                      /* teal focus */
    box-shadow: 0 0 6px rgba(31,122,140,0.3);
}

/* Identify button component wrapper */
.search-bar > *:last-child {
    background: white;                        /* teal button */
    color: rgb(0, 0, 0);
    /* padding: 10px 16px; */
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    white-space: nowrap;
    transition: 0.3s;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    border-radius: 14px;
    padding: 2px 11px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    gap: 0px;
    justify-content: center;
    height: 60px;
}

.search-bar > *:last-child:hover {
    background: #c5c9ca;                  
}
.search-bar-left{
    display: flex;
    align-items: center;
    padding: 9px;
}



@media (max-width:1050px) {
    .search-bar {
    gap: 20px;
    padding: 14px;
    max-width: 315px;
}
    .explore-menu-text {
    max-width: 80%;
    color: #808080;
}

    .search-bar img {
        width: 32px;
    }

    .explore-search-bar {
        width: 100%;
    }


}